{
  "presets": ["@babel/preset-react", "@babel/preset-flow"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
